h3 活動内容

p ・年齢、学校を超えた学生の学生による学生のためのサークルを作ること。
p ・主体的にインタビューなどの活動を通じて、情報を集め研究開発活動を学生主導で行う
p ・民間企業や研究所二協力をいただき学生が研究、ものづくり活動を行うことを促進知る
p ・サイト運営主導定例会を開く
p ・年に一度プレゼンテーション大会を開く
p ・世界の第一線で活躍する大人の方々に取材を申し込む
p ・海外の学生との交流（学問の国際交流）を進めていく

h3 サイトの運営について

p ・サイト開発をのボランティア募集中です
p ・主要言語は『ruby』でフレームワーク『ruby on rails』を利用しています。
p ・github の公開リスポジトリに在ります。commitは自由です。
p ・commitが一度mergeされた段階で、サイト運営部のメンバーになることができます。
p = link_to "・URL: https://github.com/SeanYamaguchi/renascence", "https://github.com/SeanYamaguchi/renascence"

