br

br

h3 エーゲ海に浮かぶ小さな島、プサラ（Psara）。
br
h3 プサラ・インスティテュートの社名は、ギリシャ独立戦争での勇敢な戦いで知られるこの島の名にちなんでおります。
br

br

h3 錨は希望を、ヘビは医術と知恵を、槍（左）は力を、鳥（右）は平和と幸運を表しています。
br
h3 私たちは、ひとりひとりが小さな、そして自由な存在です。しかし、健康でなければ、その幸福も自由とともに奪われてしまいます。
br
h3 専門的な医療の知識は、もっとわかりやすく伝えられるはずです。卓越した医学の知識をたゆまぬ努力をもって収集すれば、強い力が生まれます。
br
h3 プサラ・インスティテュートは、あらゆる人に最適化した医学・医療コミュニケーションを提供し、健やかで希望にあふれた、平和で自由な暮らしの実現をお手伝いします。
br

br

h2 錨
br
p ・・・錨は古くから希望の象徴としてさまざまなモチーフに使われています。船が大洋に漕ぎ出せるのは、錨あればこそ。
br

br

h2 ヘビ
br
p ・・・ギリシア神話の名医、アスクレピオスの杖に巻き付いていることで知られるヘビは、医術と知恵の象徴です。
br

br

h2 槍
br
p ・・・勇敢で知られるプサラ島の海軍。“自由か死か”と書かれた実際のプサラ島旗にも、自由を守る力の象徴として槍が描かれています。
br

br
h2 鳥
br
p ・・・ノアの箱船から飛び立った鳩がオリーブの枝をくわえて戻ってきたように、鳥は平和の象徴であると同時に、人間のまだ知らない世界に羽ばたいていくことができる自由の象徴でもあります。
br