h3 社長メッセージ

p 毎朝、気持ちよく目覚めて美味しく朝食を取り、一日を愉快にスタートする。
p 健康は、幸せな、そして自由な暮らしになくてはならない第一条件です。
br
p たとえ世界中の富があったとしても、自分や家族の健康に不安があれば、毎日は灰色に変わってしまいます。
br
p 人生80年、いやそれ以上ともいわれる今日、誰しも体調を崩したり、ケガをすることはあります。
p 心が沈んでしまうことも、長い人生ではみな普通に経験することです。
br
p ところが、いざそうなってみるまで、健康についてはよく知らないし、普段あまり深く考えずに過ごしてしまうことが多いのではないでしょうか。
br
p 実は私もそうでした。
br
p 30代に入りアメリカから帰国して間もなくのことです。
p 子供の健診に通っていた保健所で、突然、
p「あなたのお子さんは、重要な疾患に罹っている可能性が強くあります。学校で体育や水泳をしたり、みんなとスポーツするなど、普通の生活は送れないかもしれません。」
p と宣告されました。
br
p 一瞬で目の前が真っ暗になり、息をするのも苦しかったことを覚えています。
p 幸いにも、後にこれは間違いであったと判明しました。しかし、私や家族だけではなく、担当の職員や医師すらも最新の医学情報について知らないことがあるという事実に背筋の凍る思いがし、健康や医学について知る大切さを痛感しました。
br
p 当時日英バイリンガルのアートマガジン編集者だった私は、それから一念発起して医学出版社に就職しました。
p それ以後は医学の道をひたすら歩み、16年目に独立して株式会社プサラ・インスティテュートを設立し現在に至ります。
br
p 医師の仕事は世界的に専門化が進み、さらに細分化しています。
p こうした中で医師たちは自分の専門に従い、最も良いとされる治療を行います。
p また日本の医師は、先進国の中でも突出して多くの患者を診療せざるをえない状況にあります。
br
p 現状の医療システムでは、あまり一般的でない新しい治療や専門外の治療までをひとりひとりの患者について詳細に検討する時間は、十分ではありません。自分や家族に合った治療を納得して選びたければ、結局ある程度は自力で調べ、考えるほかないのです。
br
p 日進月歩の医療界では、世界中で絶えず新たな発見が報じられ、最良とされる治療も日々変わっていきます。
p ところがこうした医学情報は専門用語でやり取りされ、一般にはわかりにくいばかりか、調べ方もわからない方がほとんどではないでしょうか。
p また、秒刻みの激務の中で、国内外の新しい情報を早く正確にわかりやすく読みたいという医療業界の需要も高まっています。
br
p 私たちプサラ・インスティテュートは、医学ジャーナリストとして蓄積した知識と技術を活かし、専門家から一般の方まで、すべての人に医学をわかりやすくお届けするお手伝いを行ってまいります。
p 弊社の活動を通じ、ひとりでも多くの方が、より健やかで自由な毎日を過ごされることを願っております。
br
h3 代表取締役
h3 山口　茜