.bg-primary.topic 社長メッセ−ジ

p 毎朝、気持ちよく目覚めて美味しく朝食を取り、一日を愉快にスタートする。
p 健康は、幸せな、そして自由な暮らしになくてはならない第一条件です。
br
p たとえ世界中の富があったとしても、自分や家族の健康に不安があれば、毎日は灰色に変わってしまいます。
br
p 私たちプサラ・インスティテュートは、医学ジャーナリストとして蓄積した知識と技術を活かし、専門家から一般の方まで、すべての人に医学をわかりやすくお届けするお手伝いを行ってまいります。
p 弊社の活動を通じ、ひとりでも多くの方が、より健やかで自由な毎日を過ごされることを願っております。
br
h3 株式会社プサラ・インスティテュート
h3 代表取締役
h3 山口　茜