.bg-primary.topic 運営部より

p スポーツの大会はねん何度も在りますよね。
p でも科学やアートの大会もしくは学生が参画するような学会ってありますか。
p 在るには在るかもしれません。でも、果たしてそれは盛んだと言えるレベルでしょうか。
p 運営部の一人は、サイエンスキャンプにいったり、そういった数少ないキャンプに参加したり、自分の研究を発表してみたりしながら、
p 実は日本（だけでも）たくさんの理系ガチ勢はいることに気づきました。
p しかし、一つ問題が在りました。

p それは、彼ラ彼女らのほとんどは成果を上手くアウトプットできていなかったのです。
p Renascnece a science guilde は勉強会、研究会を学生が主体的に作り上げ、
p 学生が、自分たちから、社会にアプローチ
br
h3 Renascence