h1 事業概要

h1 プサラ・インスティテュートとは
br

p「医学をわかりやすく」をキーワードに、医学・医療情報をあらゆる場面でわかりやすく正確に伝えるサービスを提供するプロフェッショナル集団です。
br

h3 ■早く・正確に・わかりやすく伝える■
br

p 専門情報→専門情報
br

p 医学研究者、医療従事者、医療業界などの専門情報コンテンツを、専門家向けに作成・リリースいたします。
br

p 専門情報→一般情報
br

p 一般の方にとって難解な専門性の高い医療・医学情報コンテンツをわかりやすく作成・リリースいたします。
br

p 一般情報→専門情報
br

p 一般の方が気になっていること、医師に伝えたいことを専門家に効果的に伝えるコンサルティングをいたします。
br
br
br

h1 業務概要（詳細はこちらよりお問い合わせください）
br

h3 ■医学・医療コンテンツ制作サービス全般
br

h3 専門性の高い医学・医療情報の収集し、専門家から一般医療消費者まであらゆる受け手に最適化します
br

br
h3 取り扱い業務例
br  国内・海外ドクターへの専門的インタビュー
br （メール、電話、skypeなどあらゆるコミュニケーションツールにて対応可能）
br  国内・海外ドクター取材交渉、企画相談
br （国際学会学会長や専門委員、大規模臨床研究主任研究員など）
